body {
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    background-color: #005579 !important;
    color: white;
    z-index: 10;
}

#greeting-photo {
    min-width: 100%;
    position: fixed;
    z-index: 8;
}

#greeting-text {
    padding-top: 30%;
    text-align: center;
}

#name {
    color: #005579
}

.arrow {
    height: 100px
}

#about, #portfolio, #contact, #connect {
    text-align: center;
    margin-top: 20%
}

#about-start, #portfolio-start, #contact-start, #connect-start {
    padding-top: 25%;
    color: #005579
}

.portfolio-pic {
    height: 300px;
}

a {
    text-decoration: none
}

.socials {
    height: 100px;
    margin-top: 15%
}

#connect-form {
    margin-top: 3%
}

#my-name {
    font-size: 200%
}

.nav-link {
    font-size: 150%
}

#connect-form {
    padding-bottom: 10%
}



